@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    color: firebrick;
}

/* Navbar*/

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    color: beige;
    background-color: firebrick;
}

.nav-link:hover {
    color: orangered;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 600;
    color: beige;
    background-color: firebrick;
}

.navbar-brand:hover {
    color: orangered;
}